/* Variables globales para colores, espaciados y bordes. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: black;
    --color-accent: #4f2d7f;
    --border-radius: 8px;
    --blue: #4b6cad;
    --violet: #72419d;
    --darkBlue: #2551a8;
    --darkViolet: #4f2d7f;
}

@font-face {
    font-family: "Clarendon Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Clarendon Regular"), url("./ClarendonRegular.woff") format("woff");
}

body {
    background-color: black;
    color: white;
    font-family: "Clarendon Regular";
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

hr {
    width: 80%;
    height: 2px;
    background: linear-gradient(to left, #4b6cad, #72419d);
    margin: 20px auto;
    border: none;
    opacity: 0.8;
}

.navbar{
    display:flex;
    align-items:center;
    gap:1rem;
    padding:10px 20px;
    width: 90%;
    margin: 0px auto;
    .navbar-logo{
        display:flex;
        align-items:center;
        justify-content:center;
        img{
            height:clamp(28px, 4vw, 40px);
            width:auto;
            object-fit:contain;
            transition:transform .2s ease;
        }
        &:hover img{
            transform:scale(1.05);
            box-shadow:0 10px 25px rgba(90,80,255,0.25);
            }
        }
        .cart-button {
        margin-left:auto;
        }
}

.header-title {
    margin: 10px auto;
    font-size: clamp(2.5rem, 2vw, 4rem);
    background: linear-gradient(to left, var(--darkBlue), var(--violet));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(66, 135, 245, 0.6);
    letter-spacing: 0.15em;
    font-weight: 500;
    line-height: 1.2;
}

/* Utility Classes */

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--darkBlue);
    background-color: transparent;
    font-size: clamp(1.5rem, 2vw, 2rem);
    cursor: pointer;
    transition: transform .25s ease, box-shadow .25s ease;
    &:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 10px rgba(0,0,0,.5),
        0 0 20px rgba(66,135,245,.6);
    }
}

.nav-btn {
    appearance: none;
    background: none;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
}

.gradient-border {
    border-radius: 12px;
    border: 2px solid transparent;
    background:
        linear-gradient(#000,#000) padding-box,
        linear-gradient(to left,var(--violet),var(--darkBlue)) border-box;
    box-shadow: 0 0 15px rgba(120,90,255,0.2);
}

.cover-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
    a {
        display:block;
        width:100%;
        height:100%;
    }
}

.hover-vinyl {
    &:hover {
        box-shadow: 0 10px 25px rgba(90,80,255,0.25);
        img {
        transform: scale(1.05);
        }
    }
}